@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

<title>Cliff Keen Uniform Builder</title>

<link href="../css/ck.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/ck.content.js"></script>
<script type="text/javascript" src="../js/ck.api.js"></script>
<script type="text/javascript" src="../js/ck.locker_V_4.js"></script>
<script type="text/javascript" src="../js/ck.js"></script>

</head>
<body class="locker-page">

<div id="page-wrapper">
	<div class="container">
		<header>
			<div class="titles">
				<span class="ub">UNIFORM BUILDER &raquo;</span>
				<span class="category">404</span>
				<div class="user-info-header">
					<div class="name">Hello, <span></span>! :: <a href="/home/logout">Log Out</a></div>
				</div>
			</div>
			<div class="navigation">
				<div class="row">
					<ul>
						<li>
							<a href="/Templates/Index/Headgear">HEADGEAR</a>
						</li>
						<li>
							<a href="#">SINGLETS</a>
							<ul>
								<li><a href="/Templates/Index/CustomSublimatedSinglets">Custom Sublimated Singlets</a></li>
								<li><a href="/Templates/Index/CustomScreenPrintSinglets">Custom Screen Printed Singlets</a></li>
								<li><a href="/Templates/Index/StockSinglets">In-stock Singlets</a></li>
							</ul>
						</li>
						<li>
							<a href="#">WARM-UPS</a>
							<ul>
								<li><a href="/Templates/Index/StockWarm-ups">In-stock Warm-ups</a></li>
								<li><a href="/Templates/Index/CustomWarm-ups">Custom Warm-ups</a></li>
							</ul>
						</li>
						<li>
							<a href="#">TRAINING</a>
							<ul>
								<li><a href="/Templates/Index/CustomTraining">Custom Sublimated Training Gear</a></li>
								<li><a href="/Templates/Index/StockTraining">In-stock Training Gear</a></li>
							</ul>
						</li>
						<li>
							<a href="/Templates/Index/Banners">BANNERS</a>
						</li>
						<li> ::&nbsp;&nbsp;&nbsp;&nbsp;<a href="/locker">MY LOCKER</a></li>
					</ul>
				</div>
			</div>
			<div class="logo">
				<a href="http://cliffkeen.com"><img src="../images/logo.png"></a>
			</div>
		</header>
		<div class="main">
			<br>
			<h1>Error: 404</h1>
			<h2>The page you were looking for cannot be found</h2>
		</div>
	</div>
</div>
</body>
</html>